<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lesson2.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=|DataDirectory|\Inventory.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Lesson2.Properties.Settings.books1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\books1.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>